/* CSS영역 (스타일정보 바로 기술할 수 있는 영역) */

/* 1. 속성 선택자 ----------------------------- */

/* div중에서 name속성값이 name1과 "일치"하는 요소 */
div[name=name1] {
    background-color:orangered;
}
/* div중에서 name속성값에 name1이 "포함"되어 있는 요소 (한 단어로써) */
div[name~=name1]{
    background-color:yellow;
}
/* div중에서 class속성값이 class로 "시작"되는 요소 (-로구분) */
div[class|=class]{
    background-color:cyan;
}
/* div중에서 name속성값이 na로 "시작"되는 요소 */
div[name^=na]{
    background-color:blue;
}
/* div중에서 class속성값이 ss로 "끝"나는 요소 */
div[class$=ss]{
    color:white;
}
/* div중에서 class속성값에 i가 "포함"되어있는 요소 */
div[class*=i]{
    color:red;
    background-color:yellow;
}

div[name|=name3]{
    font-size:20px;
}

/* 응용 : class속성값이 div-class 중에서 name속성값에 name3가 포함되어있는 요소 */
.div-class[name~=name3]{
    background-color:pink;
}
/* ------------------------------------------------- */

/* 2. 자손선택자와 후손선택자 ----------------------- */

/* a>* : a요소의 자손들 모두를 선택 */
/* a>b : a요소의 자손들 중에서 b요소만을 선택 */
#test1>h4{
    background-color:orangered;
}
#test1>ul>li{
    background-color:cyan;
}

/* a b : a요소의 후손(모든 하위요소)들 중에 b요소만을 선택 */
#test1 li{
    color:red;
}

/* ------------------------------------------------- */

/* 3. 동위선택자 ----------------------------------- */
/* a+b : a요소 뒤에 b요소 "하나"만을 선택 */
#test2+div{
    background-color:yellow;
}
#test2+ul{ /*적용안됨*/
    background-color:pink;
}

/* a~b : a요소 뒤에 "모든" b요소 다 선택 */
#test2~div{
    /*background-color:green;*/
}
#test2~ul{
    background-color:magenta;
}

/* ---------------------------------------------- */
.area{
    background-color:yellowgreen;
    width:100px;
    height:100px;
}

/* 4. 반응선택자 --------------------------------- */
/* 아이디가 active-test요소에 클릭이 되어있을 동안 부여할 스타일 작성 */
#active-test:active{
    background-color:yellow;
    color:red;
}

/* 아이디가 hover-test요소에 마우스가 올라가있는 동안 부여할 스타일 작성 */
#hover-test:hover{
    background-color:maroon;
    color:white;
}

/* 5_1. 상태선택자(checked) ---------------------------------- */
input[type=checkbox]:checked{
    width: 20px;
    height: 20px;
    font-size:20px;
}
input[type=checkbox]:checked+label{
    font-size: 20px;
}

/* 5_2. 상태선택자(focus) -----------------------------------------*/
#userId:focus{
    background-color: pink;
}
#userPwd:focus{
    background-color: paleturquoise;
}

/* 5_3. 상태선택자(enabled/disabled) ---------------------------------*/
button:disabled{
    background-color: red;
}
button:enabled{
    background-color: green;
}

option:enabled{
    background-color: yellow;
}

option:disabled{
    background-color: blue;
}

option:disabled{
    background-color: violet;
}